body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 95vh;
}

#main-game{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.campo{
    background: darkslateblue;
    color: whitesmoke;
    height: 160px;
    width: 160px;
    margin: 10px;
    font-size: 10vh;
}

#reiniciar{
    background-color: goldenrod;
    height: 40px;
    width: 120px;
    color: white;
    margin-top: 17px;
    border-radius: 16px;
}

/* Alterando o estilo de acordo com o simbolo jogado */
.campo[disabled="true"][data-simbolo="X"]{
    background-color: darkgreen;
}
.campo[disabled="true"][data-simbolo="O"]{
    background-color: purple;
}

.campo:disabled{
    background-color: lightgray;
    border-radius: 20px;
}